body{
    margin: 0px;
    padding: 0px;
     background-color: #011627;
    color: #fdfffc; 
    text-align: center;
    background-image: url(gradient-blue-background-free-vector.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    font-size: 45px;
}
input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: rgb(28, 28, 28);
    border-style: none;
}

.btn:hover:hover{
    background-color:yellow;
    cursor: pointer;
}
